.app {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  &__row {
    display: flex;
    justify-content: center;
  }
  &__divider {
    min-width: 30px;
    flex: 0 0 auto;
    background-color: #2196F3;
    box-sizing: border-box;
  }
}
.task-list {
  max-width: 200px;
  flex: 1 1 200px;
  border: 1px solid #B3E5FC;
  &--highlighted {
    background-color: rgba(227, 242, 253, 0.4);
  }
  &--highlighted-strong {
    background-color: rgba(144, 202, 249, 0.8);
  }
  &--done {
    background-color: rgba(200, 230, 201, 0.2);
    .task-list__title {
      background-color: #4CAF50;
    }
    &.task-list--highlighted {
      background-color: rgba(200, 230, 201, 0.6);
    }
    &.task-list--highlighted-strong {
      background-color: #C8E6C9;
    }

  }
}
.task-list__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.task-list__element {
  padding: 0.5em 1em;
  box-sizing: border-box;

}
.task-list__title {
  background-color: #2196F3;
  color: #fff;
  margin: 0;
  padding: 0.5em;
  font-size: 18px;
  text-align: center;
}
.task-list__element:nth-child(2n) {

}
.task-list__element:nth-child(2n+1) {

}
.task {
  background-color: #E3F2FD;
  height: 80px;
  padding: 0.5em;
  color: #333;
  position: relative;
  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-weight: 700;
    display: block;
    padding: 2px;
  }
  &__name {
    margin: 0;
    font-size: 16px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__author, &__stage, &__assigned-to, &__date {
    margin: 0;
    font-size: 14px;
  }
  &--draggable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &--done {
    background-color: #A5D6A7 !important;
  }
  &--critical {
    background-color: #FFAB91;
  }
  &--high {
    background-color: #FFCC80;
  }
  &--medium {
    background-color: #FFF59D;
  }
  &--low {
  }
}


.change-priority {
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
  &__item {
    &--high {
      background-color: #FFCC80;
      background-color: #FFA726;

    }
    &--critical {
      background-color: #FFAB91;
      background-color: #FF7043;
    }
    &--medium {
      background-color: #FFF59D;
      background-color: #FFEE58;
    }
    &--low {
      background-color: #E3F2FD;
      background-color: #BBDEFB;
    }
  }
  &__button {
    border: none;
    background-color: transparent;
    display: block;
    height: 15px;
  }
}

.task-form {
  width: 500px;
  margin: 0 auto;
  padding: 2em;
  &__input-row {
    margin-top: 15px;
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 1.5em;
    padding-left: 5px;
  }
  &__controls {
    text-align: right;
    margin-top: 15px;
  }
  &__submit {
    font-size: 18px;
    line-height: 2em;
    height: 2em;
    display: inline-block;
    background-color: #2196F3;
    border: none;
    color: #fff;
  }
}
